.message-container{
  position: absolute;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 0;
  z-index: 9;
  &.out-of-screen{
    z-index: 1234;
  }

  .message{
    padding: 17px 24px 17px 18px;
    position: relative;
    background: #000;
    box-shadow: 0px 0px 21px #000000;
    max-width: 17vw;
    cursor: pointer;
    margin-top: 20px;

    *{
      pointer-events: none;
    }
    .close{
      position: absolute;
      top: 8px;
      right: 8px;
    }
    .text{
      font-family: 'Classic Console Neue', 'ClassicConsoleNeue', sans-serif;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
    &.INFO{
      background: #607CA1;
    }
    &.ERROR{
      background: #a24646;
    }
    &.SUCCESS{
      background: #5fa98d;
    }
  }
}