.product-page{
  display: flex;
  justify-content: space-between;
  height: calc(100% + 40px);
  max-height: calc(100%  + 40px);
  padding-bottom: 40px;
  .slider{
    flex: 1;
    @media #{$large-up}{
      flex: 0 0 calc(50% - 0px);
    }
  }
  .scrollable-content{
    flex: 1;
    z-index: 4;
    @media #{$large-up}{
      padding-left: 50px;
      padding-top: 50px;
    }
    //height: calc(100vh - #{$header-height});
    //@media #{$large-up}{
    //  height: calc(100vh - #{$header-height-desktop});
    //}
    height: 100%;
  }
  .product-options{
    .row{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &__title{

    }
    &__item{
      width: 61px;
      height: 35px;
      border: 1px solid #FFFFFF80;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      border-radius: 2px;
      margin-right: 10px;
      &.active{
        border: 1px solid #607CA1;
      }

      img{
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

  }
  .product-actions{
    display: flex;
    input[type=submit]{
      background: #000000;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      color: #fff;
      display: block;
      width: fit-content;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}