{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block content %}
                <div class="scrollable-mask">
                    <div class="scrollable-content masked-content cart-page">
                        <h1>
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" style="    position: relative; top: 4px;">
                                <path d="M22.5 16.25V18.75H6.25V17.5H5V12.5H3.75V8.75H2.5V2.5H0V0H5V3.75H25V8.75H23.75V12.5H22.5V13.75H7.5V16.25H22.5ZM5 7.5H6.25V11.25H21.25V7.5H22.5V6.25H5V7.5ZM7.5 20H10V21.25H11.25V23.75H10V25H7.5V23.75H6.25V21.25H7.5V20ZM17.5 20H20V21.25H21.25V23.75H20V25H17.5V23.75H16.25V21.25H17.5V20Z"
                                      fill="#607CA1"/>
                            </svg>
                            IN THE ORDER:
                        </h1>
                        <table>
                            <tr class="heading-row">
                                <th>
                                    <div class="cell-content">
                                        ITEM
                                    </div>
                                </th>
                                <th class="size">
                                    <div class="cell-content">
                                        SIZE
                                    </div>
                                </th>
                                <th class="quantity">
                                    <div class="cell-content">
                                        QUANTITY
                                    </div>
                                </th>
                                <th class="price">
                                    <div class="cell-content">
                                        PRICE
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td class="item">
                                    <div class="cell-content">
                                        <a href="#" class="delete">
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.6"
                                                      d="M9.375 8.4375H10.3125V9.375H11.25V11.25H9.375V10.3125H8.4375V9.375H6.5625V10.3125H5.625V11.25H3.75V9.375H4.6875V8.4375H5.625V6.5625H4.6875V5.625H3.75V3.75H5.625V4.6875H6.5625V5.625H8.4375V4.6875H9.375V3.75H11.25V5.625H10.3125V6.5625H9.375V8.4375ZM14.0625 15H0.9375V14.0625H0V0.9375H0.9375V0H14.0625V0.9375H15V14.0625H14.0625V15ZM1.875 1.875V13.125H13.125V1.875H1.875Z"
                                                      fill="white"/>
                                            </svg>
                                        </a>
                                        <img src="{% static 'shop/img/products/1/longsleeve3.png' %}" alt="ДАААААА ВСТАВЬ SEO СЮДА">
                                        <h4>
                                            LONG-SLEEVE (with a large corduroy sleeve)
                                        </h4>
                                    </div>
                                </td>
                                <td class="size">
                                    <div class="cell-content">
                                        M
                                    </div>
                                </td>
                                <td class="quantity">
                                    <div class="cell-content">
                                        1
                                    </div>
                                </td>
                                <td class="price">
                                    <div class="cell-content">
                                        $200
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="item">
                                    <div class="cell-content">
                                        <a href="#" class="delete">
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.6"
                                                      d="M9.375 8.4375H10.3125V9.375H11.25V11.25H9.375V10.3125H8.4375V9.375H6.5625V10.3125H5.625V11.25H3.75V9.375H4.6875V8.4375H5.625V6.5625H4.6875V5.625H3.75V3.75H5.625V4.6875H6.5625V5.625H8.4375V4.6875H9.375V3.75H11.25V5.625H10.3125V6.5625H9.375V8.4375ZM14.0625 15H0.9375V14.0625H0V0.9375H0.9375V0H14.0625V0.9375H15V14.0625H14.0625V15ZM1.875 1.875V13.125H13.125V1.875H1.875Z"
                                                      fill="white"/>
                                            </svg>
                                        </a>
                                        <img src="{% static 'shop/img/products/1/longsleeve3.png' %}" alt="ДАААААА ВСТАВЬ SEO СЮДА">
                                        <h4>
                                            LONG-SLEEVE (with a large corduroy sleeve)
                                        </h4>
                                    </div>
                                </td>
                                <td class="size">
                                    <div class="cell-content">
                                        M
                                    </div>
                                </td>
                                <td class="quantity">
                                    <div class="cell-content">
                                        1
                                    </div>
                                </td>
                                <td class="price">
                                    <div class="cell-content">
                                        $200
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="item">
                                    <div class="cell-content">
                                        <a href="#" class="delete">
                                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.6"
                                                      d="M9.375 8.4375H10.3125V9.375H11.25V11.25H9.375V10.3125H8.4375V9.375H6.5625V10.3125H5.625V11.25H3.75V9.375H4.6875V8.4375H5.625V6.5625H4.6875V5.625H3.75V3.75H5.625V4.6875H6.5625V5.625H8.4375V4.6875H9.375V3.75H11.25V5.625H10.3125V6.5625H9.375V8.4375ZM14.0625 15H0.9375V14.0625H0V0.9375H0.9375V0H14.0625V0.9375H15V14.0625H14.0625V15ZM1.875 1.875V13.125H13.125V1.875H1.875Z"
                                                      fill="white"/>
                                            </svg>
                                        </a>
                                        <img src="{% static 'shop/img/products/1/longsleeve3.png' %}" alt="ДАААААА ВСТАВЬ SEO СЮДА">
                                        <h4>
                                            LONG-SLEEVE (with a large corduroy sleeve)
                                        </h4>
                                    </div>
                                </td>
                                <td class="size">
                                    <div class="cell-content">
                                        M
                                    </div>
                                </td>
                                <td class="quantity">
                                    <div class="cell-content">
                                        1
                                    </div>
                                </td>
                                <td class="price">
                                    <div class="cell-content">
                                        $200
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="cart-actions">
                            <a href="#" style="
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #fff;
    padding: 8px 50px;
    display: block;
    width: fit-content;
"> CHECKOUT </a> <a href="#" style="
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    color: #fff;
    padding: 8px 50px;
    display: block;
    width: fit-content;
    opacity: 0.5;
"> CLEAR </a>
                        </div>
                    </div>
                </div>
{% endblock %}