<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
<div class="page">
    <div class="content">
        <div class="background">
            <div class="frame">

                <picture>
                    <source srcset="./assets/img/frame-desktop.png"
                            media="(min-width: 600px)">
                    <img src="./assets/img/frame.png" alt="">
                </picture>

            </div>
        </div>
        <div class="screen-container not-ready" style="background-image: url(https://i.gifer.com/RpdC.gif);">
            <div class="screen">
                <header>
                    <div class="row">
                        <a href="/" class="logo">
                            <img src="assets/img/logo.png" alt="Logotype">
                        </a>
                        <h1 class="big-title">About Us</h1>
                        <a href="/cart" class="cart">
                            <img src="assets/img/cart.png" alt="Cart">
                            <p class="h2">CART</p>
                        </a>
                    </div>
                </header>

                <div class="scrollable-mask">
                <div class="scrollable-content masked-content">
                    <h1 style="font-size: 100px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eaque ex fuga placeat, ratione temporibus totam! Culpa inventore laudantium quidem reiciendis sunt! Nulla, pariatur, placeat. Minus provident quae quibusdam sed.</h1>
                </div>
                </div>

            </div>
        </div>
    </div>
    <div class="menu">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.0/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script src="assets/js/turn-on-off.js"></script>
<script src="assets/js/slider.js"></script>
<script src="assets/js/random-glitch.js"></script>
<script src="assets/js/init.js"></script>
<script src="assets/js/transition.js"></script>
</body>
</html>